[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/chandu (chandu1792)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/chandu (chandu1792)
	label-Verified = -1..+1 group user/chandu (chandu1792)
	push = group user/chandu (chandu1792)
	read = group user/chandu (chandu1792)
	rebase = group user/chandu (chandu1792)
	removeReviewer = group user/chandu (chandu1792)
	submit = group user/chandu (chandu1792)
[access "refs/heads/*"]
	create = group user/chandu (chandu1792)
	push = +force group user/chandu (chandu1792)
	pushMerge = group user/chandu (chandu1792)
	read = group user/chandu (chandu1792)
[access "refs/tags/*"]
	push = group user/chandu (chandu1792)
	push = +force group user/chandu (chandu1792)
